:root {
    --background: #ffffff;
    --foreground: #171717;
    --grey-: #141414;
    --red-: #f42222;
    --darkred-: #920f0f;
    --black-: #000000;
    --white-: #ffffff;
    --text-grey: #a6a6a6;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--secondary-font);
  background-color: var(--black-);
  color: var(--white-);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.6;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: var(--white-);
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover{
  color: var(--red-)
}


.contact-btn {
  background-color: var(--white-);
  border: none;
  padding: 12px 24px;
  color: var(--black-);
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--secondary-font);
}

.contact-btn:hover {
    background-color: var(--red-);
    color: var(--white-);
}








@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .nav-links {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  

  .contact-btn {
    margin-top: 10px;
  }
}